.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: goldenrod;
    top: 0;
    position: sticky;
    z-index: 100;
    justify-content: space-evenly;
}

.header__logo {
    width: 80px;
    object-fit: contain;
    opacity: 0.4;
    height: 60px;
    background-color: goldenrod;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__name:hover,.header__options:hover {
    color: blueviolet;
}

.header__name::first-letter {
    font-size: xxx-large;
}

