.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: goldenrod;
    top: 0;
    position: sticky;
    z-index: 100;
    justify-content:space-around;
}

nav a.active {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 4em;
    font-size: 20px;
}


.header__logo {
    width: 80px;
    object-fit: contain;
    opacity: 0.6;
    height: 60px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__name::first-letter {
    font-size: xxx-large;
}

.link__style {
    text-decoration: none;
    color: black;
}




