.details {
    background-image: url("./assets/studentDetails.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    color: black;
    opacity: 0.5;
    background-size: cover;
}

.details__entry {
    display: flex;
    flex-direction: column;
}

.details__entry > strong {
    font-size: 30px;
    margin-left: 15px;
    color: white;
}

.details__button {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 30px;
    font-weight: bold;
}
 
.details__container {
    text-align: center;
}

.details__container > h1 {
    font-weight: 500;
    font-size: 4em;
    margin-bottom: 10px;
    color: white;
}

.details__container label {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 5px;
    color: white;
}

.details__container input {
    float: left;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.details__container button {
    float: left;
    margin-top: 45px;
    margin-left: -72px;
    border: 1px solid black;
    width: 4%;
}

button:hover {
    background-color: lightgreen;
}
